body, html {
  height: 100%;
  overflow: auto;
}

/*=================
splash page
=================== */
.cardBody {
  position: absolute;
  top: -90px;
  left: 10%;
  z-index: -1;
  width: 1000px;
  height: 350px;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  border-radius: 200px 5px 5px 200px;
  -webkit-box-shadow: inset 50px 50px 100px 100px #2C249B;
          box-shadow: inset 50px 50px 100px 100px #2C249B;
  background: -webkit-gradient(linear, left top, left bottom, from(#486FDE), color-stop(50%, #486FDE), color-stop(50%, #E11843), to(#2C249B));
  background: linear-gradient(to bottom, #486FDE, #486FDE 50%, #E11843 50%, #2C249B);
  background-size: 100% 5px;
}

.cardBody2 {
  position: absolute;
  top: -100px;
  left: 20%;
  z-index: -1;
  width: 500px;
  height: 250px;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  border-radius: 200px 5px 5px 200px;
  -webkit-box-shadow: inset 100px 0px 100px #E11843;
          box-shadow: inset 100px 0px 100px #E11843;
  background-image: url(style/image/name/NAME4.PNG);
  background-repeat: no-repeat;
}

@media (max-width: 415px) {
  .cardBody2 {
    overflow: hidden;
  }
}

.cardBody3 {
  position: absolute;
  top: -30%;
  left: -5%;
  height: 700px;
  width: 700px;
  z-index: -1;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 300px 80px white;
          box-shadow: inset 0px 300px 80px white;
  background: white;
  opacity: 0.3;
}

@media (max-width: 415px) {
  .cardBody3 {
    display: none;
  }
}

.overlay {
  position: relative;
  top: 0;
  z-index: 10;
  height: 350px;
  width: 350px;
  background: white;
  opacity: 0.3;
  background-size: 100% 5px;
  border-radius: 50%;
}

@media (max-width: 415px) {
  .overlay {
    background: black;
    overflow: hidden;
  }
}

.name {
  position: fixed;
  bottom: 50px;
  right: 10%;
  width: 300px;
  z-index: 8;
}

@media (max-width: 415px) {
  .name {
    top: 450px;
    left: 2px;
    width: 100px;
  }
}

.name #firstName {
  height: 50px;
}

@media (max-width: 415px) {
  .name #firstName {
    height: 30px;
  }
}

.name #lastName {
  height: 50px;
  margin-left: 100px;
}

@media (max-width: 415px) {
  .name #lastName {
    height: 20px;
    margin-left: 60px;
  }
}

/*=================
Navigation
=================== */
.navigation {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 300px;
}

@media (max-width: 415px) {
  .navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 300px;
  }
}

@media (max-width: 415px) {
  .navigation .arrow {
    margin-top: 250px;
  }
}

.navigation .icons {
  width: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 415px) {
  .navigation .icons {
    padding-left: 5px;
  }
}

.navigation .icons:hover {
  width: 45px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.bounce {
  -webkit-animation: bounce 3s;
          animation: bounce 3s;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

@-webkit-keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
}

nav {
  position: absolute;
  bottom: 0px;
  text-align: right;
  padding-top: 15px;
  padding-bottom: 0;
  width: 100vw;
  z-index: 5;
  background: white;
}

@media (max-width: 415px) {
  nav {
    text-align: left;
    left: 0;
    padding: 0;
    margin: 0;
    border: 0;
    border-top: 100px;
  }
}

nav .pageNav {
  height: 40px;
  padding: 10px;
}

@media (max-width: 415px) {
  nav .pageNav {
    height: 30px;
    padding: 5px;
  }
}

nav .back {
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (max-width: 415px) {
  nav .back {
    left: 0;
    height: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

/*=================
Title & other pg styles
=================== */
.titleImg {
  width: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.icons2 {
  width: 30px;
  border-top: 5px;
  border-bottom: 5px;
}

.icons3 {
  bottom: 0;
  width: 25px;
  border-top: 5px;
  border-bottom: 5px;
}

.icons4 {
  width: 120px;
  border-top: 5px;
  border-bottom: 5px;
}

@media (max-width: 415px) {
  .icons4 {
    width: 60px;
  }
}

/*=================
About Page
=================== */
.aboutMe {
  font-size: 16px;
}

/*=================
Porfolio Page
=================== */
#work {
  margin-top: 2%;
  margin-left: 2%;
  width: 100%;
  padding-bottom: 10%;
}

@media (max-width: 415px) {
  #work {
    margin-left: 10%;
    margin-bottom: 20%;
    width: 90%;
    padding-bottom: 20%;
    overflow: auto;
  }
}

#work .subCon {
  display: inline-block;
  position: relative;
  width: 40%;
  padding: 15px;
}

@media (max-width: 415px) {
  #work .subCon {
    width: 100%;
  }
}

#work .subCon .projTitle {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.box {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  display: block;
  width: 93%;
  height: 88%;
  opacity: 0;
  position: absolute;
  top: 15px;
  text-align: center;
  background: #1a207f;
}

@media (max-width: 415px) {
  .box {
    border-radius: 5 5 5 5;
  }
}

.box .text {
  font-size: 16px;
  padding: 2px;
  opacity: 0.8;
  color: white;
}

@media (max-width: 415px) {
  .box .text {
    font-size: 12px;
  }
}

/*=================
Skills Page
=================== */
#skills {
  margin-top: 2%;
  margin-left: 2%;
  width: 60%;
  margin-bottom: 20%;
}

@media (max-width: 415px) {
  #skills {
    border-right: 10px;
    margin-left: 25%;
    margin-right: 10%;
    width: 80%;
    margin-bottom: 50%;
  }
}

#skills .skillText {
  width: 60%;
  display: block;
  margin-left: 35%;
  margin-top: 10%;
  margin-bottom: 20px;
}

@media (max-width: 415px) {
  #skills .skillText {
    margin-left: 20%;
    width: 60%;
  }
}

/*=================
All  Hover effects
=================== */
.pageNav:hover {
  height: 40px;
  padding: 5px;
}

@media (max-width: 415px) {
  .pageNav:hover {
    height: 30px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.2);
  }
}

.back:hover {
  height: 30px;
  padding: 0px;
}

@media (max-width: 415px) {
  .back:hover {
    left: 0;
    height: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: rgba(0, 0, 0, 0.2);
  }
}

.icons2:hover {
  width: 45px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.icons3:hover {
  width: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.container:hover .image {
  opacity: 0.1;
}

.container:hover .box {
  opacity: 0.8;
}

.container:hover .techImg {
  opacity: 0.6;
}

/*=================
Page Transition
=================== */
/*# sourceMappingURL=main.css.map */